{% extends "credential_layout.html" %}
{% block header_link %}
<link rel="stylesheet" type="text/css" href="../static/css/credential_layout.css">
{% endblock %}
{% block form_layout %}
<form method='POST' class='form-dsgn' action="{{url_for('login')}}">
    {{form.csrf_token}}
    <div class="form-group">
        <div class='col-xs-offset-2 col-xs-8 form-header-light text-center'>Login to continue:</div>
        <div class='col-xs-offset-2 col-xs-8 form-header-heavy text-center'>Diagnostics</div>
    </div>
    {{ render_field(form.username,placeholder=form.username.label.text)}}
    {{ render_field(form.password,placeholder=form.password.label.text)}}
    <div class='form-group'>
        <button class='form-control btn-dsgn' type='submit'>Login</button>
    </div>
    <div class='form-group'>
        <span class='form-footer-light'>Don't have an account? <a href="{{url_for('register')}}" target="_self">SignUp for an account.</a></span>
    </div>
</form>
{% endblock %}